In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
 
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
 
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/stock-price-data-for-forecasting-problems/stock_price_dada.csv

In [ ]:
data= pd.read_csv("../input/stock-price-data-for-forecasting-problems/stock_price_dada.csv")

In [ ]:
data.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146.0,10062.83
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515.0,7407.06
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786.0,3815.79
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590.0,3960.27
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749.0,3486.05

In [ ]:
#data['Date']= pd.to_datetime(data["Date"])

In [ ]:
data_df = data[(data['Date'] > "2014-1-1") & (data['Date']< "2016-12-31")]

In [ ]:
data_df

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
438,2016-12-30,121.10,123.30,121.10,122.00,122.00,1017447.0,1244.54
439,2016-12-29,119.60,122.15,119.60,121.30,121.10,1025503.0,1241.44
440,2016-12-28,119.20,122.00,119.20,119.80,119.60,866902.0,1047.42
441,2016-12-27,117.00,121.05,116.45,120.05,120.55,728501.0,870.77
442,2016-12-26,118.80,118.85,116.30,117.40,117.00,425216.0,498.73
...,...,...,...,...,...,...,...,...
986,2014-10-10,160.65,163.90,158.70,159.85,160.25,3624666.0,5845.16
987,2014-10-09,160.45,163.35,160.45,161.15,161.25,3216539.0,5202.87
988,2014-10-08,158.00,161.00,157.75,160.10,160.25,1524087.0,2437.49
989,2014-10-07,158.25,161.65,158.00,159.30,158.80,2284463.0,3656.40
990,2014-10-01,160.00,162.00,158.40,158.70,158.85,1198264.0,1915.37

In [ ]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 438 to 990
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  553 non-null    object
 1   Open                  553 non-null    float64
 2   High                  553 non-null    float64
 3   Low                   553 non-null    float64
 4   Last                  553 non-null    float64
 5   Close                 553 non-null    float64
 6   Total Trade Quantity  553 non-null    float64
 7   Turnover (Lacs)       553 non-null    float64
dtypes: float64(7), object(1)
memory usage: 38.9+ KB

In [ ]:
X_columns = list(data.drop(['Close'], axis=1).columns)
y_column = 'Close'
X_train = data_df[X_columns]
y_train = data_df[y_column]

In [ ]:
X_train.shape

(553, 7)

In [ ]:
y_train.shape

(553,)

In [ ]:
data_test = data[(data['Date'] > "2016-12-31") & (data['Date']< "2019-1-1")]

In [ ]:
data_test

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4642146.0,10062.83
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,3519515.0,7407.06
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,1728786.0,3815.79
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,1708590.0,3960.27
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,1534749.0,3486.05
...,...,...,...,...,...,...,...,...
433,2017-01-06,125.40,126.95,124.05,124.50,124.65,1255021.0,1573.67
434,2017-01-05,124.75,125.65,124.55,125.30,125.20,503565.0,630.23
435,2017-01-04,125.00,126.05,123.80,124.10,124.45,656213.0,818.98
436,2017-01-03,122.80,125.40,122.80,124.75,124.45,580430.0,721.93
437,2017-01-02,122.80,124.20,121.35,123.55,123.55,1102178.0,1354.06

In [ ]:
X_test = data_test[X_columns]
y_test = data_test[y_column]

In [ ]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438 entries, 0 to 437
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  438 non-null    object
 1   Open                  438 non-null    float64
 2   High                  438 non-null    float64
 3   Low                   438 non-null    float64
 4   Last                  438 non-null    float64
 5   Close                 438 non-null    float64
 6   Total Trade Quantity  438 non-null    float64
 7   Turnover (Lacs)       438 non-null    float64
dtypes: float64(7), object(1)
memory usage: 30.8+ KB

In [ ]:
X_test.shape

(438, 7)

In [ ]:
y_test.shape

(438,)

In [ ]:
import datetime as dt
X_train['Date'] = pd.to_datetime(X_train['Date'])
X_train['Date']=X_train['Date'].map(dt.datetime.toordinal)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:

X_test['Date'] = pd.to_datetime(X_test['Date'])
X_test['Date']=X_test['Date'].map(dt.datetime.toordinal)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [ ]:
scaler.fit(X_train)
#Rescale both sets using the trained scaler
X_scaled_train = scaler.transform(X_train)
X_scaled_test = scaler.transform(X_test)

In [ ]:
param_grid = {
"alpha": [3e-06, 1e-5, 3e-5],
"eta0": [0.01, 0.03, 0.1],
}
lr = SGDRegressor(penalty='l2', max_iter=1000)
grid_search = GridSearchCV(lr, param_grid, cv=5,
scoring='neg_mean_absolute_error')
grid_search.fit(X_scaled_train, y_train)

GridSearchCV(cv=5, estimator=SGDRegressor(),
             param_grid={'alpha': [3e-06, 1e-05, 3e-05],
                         'eta0': [0.01, 0.03, 0.1]},
             scoring='neg_mean_absolute_error')

In [ ]:
print(grid_search.best_params_)

{'alpha': 3e-06, 'eta0': 0.1}

In [ ]:
lr_best = grid_search.best_estimator_
predictions = lr_best.predict(X_scaled_test)

In [ ]:
print('MSE: {0:.3f}'.format(
 mean_squared_error(y_test, predictions)))
print('MAE: {0:.3f}'.format(
 mean_absolute_error(y_test, predictions)))
print('R^2: {0:.3f}'.format(r2_score(y_test, predictions)))

MSE: 0.907
MAE: 0.646
R^2: 1.000